.card {
  width: 340px; // Largeur de la carte
  min-height: 340px; // Hauteur de la carte
  background: #ff6060;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;

  &:hover {
    transform: scale(1.05);
  }

  .image {
    width: 100%;
    height: 100%; // L'image prendra toute la hauteur de la carte
    background-size: cover; // Assure que l'image recouvre toute la carte
    background-position: center; // Centrer l'image
    position: absolute; // Placer l'image en arrière-plan
    top: 0;
    left: 0;
  }

  .title {
    position: absolute; // Positionner le titre sur l'image
    bottom: 20px; // Placer le titre en bas de la carte
    left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); // Ombre sur le titre pour le rendre lisible
    padding: 5px 10px;
    border-radius: 5px;
  }
}
