
.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  background-color: #f4f4f4;
  color:#FF6060;
}

h1 {
  font-size: 288px;
  
   
}

span {
  font-size: 36px;
  margin-bottom: 10px;
  color: #FF6060;
  
  
}


a {
  font-size: 18px;
  color:black;
  text-decoration: underline ;
}

a:hover {
  text-decoration: underline;
}
